<nav class="navbar navbar-expand-lg navbar-light transparent">

    <div class="container-fluid ">
  
      <a class="navbar-brand big logo-properties ">

        <div style="margin-right: 20px;">

          <img [src]="imgUrl" alt="Logo" width="120px" height="55px">

        </div>

      </a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent center">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
  
          <li class="nav-item grow">
            <a class="navbar-brand medium display-6" routerLink="/dashboard" >Home</a>
          </li>

          <li class="nav-item grow">
            <a class="navbar-brand medium display-6" routerLink="/employee-list" >Employees</a>
          </li>
  
        </ul>
  
      </div>
  
    </div>
  
</nav>
  
    
  
  
  
  
  
  