<!DOCTYPE html>
<html>

<app-navigation-bar></app-navigation-bar>

<div class="space-top"> </div>

<div class="center div-slim">

    <div class="display-5">
        AJAY's Food Truck is a restaurant on the go, offering a broad range of dishes and cuisines that are cooked
        served freshly right before you.
    </div>

</div>

<div class="space-top"> </div>

<div class="center">

    <!---->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="10000">
                <img [src]="shawarmaUrl" alt="Shawarma">
                <div class="space"> </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Shawarma</h5>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img [src]="pizzaUrl" alt="Pizza">
                <div class="space"> </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Pizza</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img [src]="hotdogUrl" alt="Hotdog">
                <div class="space"> </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hotdog with Bun</h5>     
                </div>
            </div>
            
            <div class="carousel-item">
                <img [src]="burgerUrl" alt="Burger">
                <div class="space"> </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Burger</h5>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

<div class="space-top"> </div>

<div class="center div-slim-1">

    <div class="display-6">
        Mission
    </div>
    <div>
        <p class="lead p-text-size">To satisfy the hunger and cravings of customers in a less expensive way.</p>
    </div>

</div>

<div class="space-top"> </div>

<div class="center div-slim-1">

    <div class="display-6">
        Vision
    </div>
    <div>
        <p class="lead p-text-size">To become a successful business that is known for its good food service, good food,
            and good experience.</p>

    </div>

</div>

<div class="space-top"> </div>

<div class="center div-slim-1">

    <div class="display-6">
        Values
    </div>
    <div>
        <p class="lead p-text-size"> <i> <b>Innovation</b> </i>  - offer foods that are new, yet, taste worthy.</p>
        <p class="lead p-text-size"> <i> <b>Good customer service</b></i>  - respect your customers and treat them nicely.
            Listen to their comments and suggestions since they can help improve the business.</p>

    </div>

</div>

<div class="space-top"> </div>


<div class="space-top"> </div>

<div class="center div-slim-1">

    <figure>
        <blockquote class="blockquote">
          <p>To eat is a necessity, but to eat intelligently is an art.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
         <cite title="Source Title">François de La Rochefoucauld</cite>
        </figcaption>
      </figure>

</div>

<div class="space-top"> </div>

<div class="center div-slim-1">

    <img [src]="logoUrl" alt="logo" width="250px" height="250px">

</div>


</html>